*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
}

.App{
    background-color:rgb(236,76,138);
}

.title{
    font-size:24px;
    color:white;
    margin-left:24px;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa{
    width:24px;
    height:24px;
}

.cards{ 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin: 0 auto;
    width: 100%;
}


.card{
    display:grid;
    padding:16px;
    height:144px;
}

.header{
    display:flex;
    justify-content:space-between;
    padding:14px;
    align-items:center;
    background:#d3215c;

}

.header-icon {
    display:flex;
    gap: 24px;
    color:white;
    margin-right:14px;

}

.icons {
    width:24px;
    height:24px;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    color:white;
}

.search{
    display:flex;
    align-items:center;
    width: 30%;
    padding:14px;
    border-radius: 2px;
    margin: 4px;
    border: none;
}

.company-data {
     
    color: white;
    text-decoration: none;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.link{
    background: #b50e46;
}

.link:nth-child(3n-1){
    background:#d3215c;
 
}

 .link:nth-child(3n){
    background: #ec2165;

}


h1{
    color:white;
    margin: auto 24px;
    padding: 24px;
}

table{
    width:100%;
}

tr {
    display:flex;
    justify-content:space-between;
    padding:16px;
}

tr{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background:#d3215c;

}
th , td {
    padding:16px;
}

tr,tr:nth-child(2n) {
    background: #b50e46;
    color: white;
}

tr:nth-child(2n-1) {
    background: #ec2165;
}

@media screen  and (min-width: 768px) {
.header{
    display:flex;
    justify-content:space-between;
    padding:24px;
    align-items:center;
}

.header-icon{
    display:flex;
}

.cards{
    grid-template-columns:1fr 1fr 1fr 1fr;
}

.search{
    
    width: 60%;
 
}
}